PORT=3000
DB_NAME=crud-example
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=your-db-user
DB_PASSWORD=your-db-password
# Optional: use a full MySQL connection URL instead of DB_HOST/DB_PORT
# DB_LINK=******127.0.0.1:3306/crud-example

DB_CA_CERT_BASE64=your_ca_cert_base64_here_read_readme_on_how_to_get_it
